.modal-wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  background-color: black;
  opacity: 0.5;
}

.modal {
  position: relative;
  max-width: 60%;
  padding: 1rem;

  background-color: white;
  overflow: auto;
}

.modal-title {
  margin: 0;
}

.modal-content {
  margin: 2rem 0;
}

.modal-btns {
  display: flex;
  gap: 1rem;
  justify-content: space-around;
}
.modal-btns > button {
  width: 50%;
}
